/**
 * App-wide Styles
 */
.bg {
  width: 100px;
  height: 100px;
  background: url('/assets/images/test.png');
  background-size: 100px 100px;
}

body {
  margin: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #F9F2F4;
  border-radius: 4px;
  color: #e30;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

